 .fa-icon{
	font-size: 1.8rem;
	cursor: pointer;
	
}


 .nav-title {
	font-family: "Roboto";
	border-radius: 50px;   
	border-width: 10px;
}

.dark-container-shadow{
	text-shadow: 0 0 13px #fff, 0 0 5px #fff, 0 0 3px #fff, 0 0 40px #209991,
		0 0 250px #209991, 0 0 154px #209991, 0 0 80px #209991;
}

.dark-title-shadow{
	box-shadow: 0 0 9px #fff, 0 0 5px #fff, 0 0 3px #fff, 0 0 40px #209991,
		0 0 50px #209991, 0 0 40px #209991, inset 0 0 40px #209991;
}

/* @keyframes pulsate {
	100% {
		text-shadow: 0 0 3px #fff, 0 0 20px #fff, 0 0 40px #fff, 0 0 40px #209991,
			0 0 30px #209991, 0 0 30px #209991, 0 0 40px #209991;
	}
	0% {
		text-shadow: 0 0 3px #fff, 0 0 14px #fff, 0 0 30px #fff, 0 0 3px #209991,
			0 0 20px #209991, 0 0 40px #209991, 0 0 20px #209991;
	}
}
*/ 


@media(max-width:530px){
  .full-text{
	display: none;
  }
  .short-text{
	display: block;
	width:100px;
  }
  .nav-title{
	border-radius: 20px;
  }
	
	
}




.nav-btn {
	border-radius: 100%;
  border: 2px solid #fefefe;
  box-shadow: 4px 4px #dccebc;
  color:rgb(26, 24, 24);
  padding:3px;
  background-color: #fff5f5;
}

.nav-social{
	border-radius: 100%;
	border: 2px solid #fefefe;
	background-color: #fff5f5;
	box-shadow: 4px 4px #dccebc;
	color:rgb(86, 198, 238);
	padding:3px;
}

/* .icon-container:hover .social-icons{
	display: flex;
	flex-direction: column;
	position: absolute;
	top:0;
	height: 300px;
	left: 0;
	border:1px solid;
} */